@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background-color: #313338;
}

@layer base {
  p {
    @apply tracking-widest text-theme-white font-bold;
  }

  button {
    @apply pressable;
  }

  input {
    @apply font-bold tracking-widest text-theme-white outline-none focus:outline-none bg-transparent;
  }

  input::placeholder {
    @apply tracking-widest text-theme-light-gray/50 font-bold;
  }
}

@layer components {
  .pressable {
    @apply transition-all-bounce active:scale-90 cursor-pointer;
  }

  .container-screen {
    @apply w-full h-full min-w-full min-h-screen;
  }

  .flex-all-center {
    @apply flex justify-center items-center;
  }

  .flex-row-all-center {
    @apply flex flex-row justify-center items-center;
  }

  .flex-col-all-center {
    @apply flex flex-col justify-center items-center;
  }

  .overlay {
    @apply absolute top-0;
  }
}

@layer utilities {
  .drop-shadow-card {
    box-shadow: 0px 4px 80px 0px rgba(0, 0, 0, 0.07);
  }

  .drop-shadow-red {
    box-shadow: 0px 10px 30px 0px rgba(244, 50, 60, 1);
  }

  .transition-all-bounce {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 300ms;
  }
}
